Repository BitcreditProtocol/E-Bill-frontend, pull requests merged in 2024-12, with the labels that each got.

#114 fix(#39): scrollbar in country select
  package-lock.json
  package.json
  src/components/ui/scroll-area.tsx
  src/components/ui/select.stories.tsx
  src/pages/CreateBill.tsx
  src/pages/contacts/Create.tsx
  src/pages/signup/OptionalInformation.tsx
Labels: bug

#112 feat(i18n): translation key format
  extracted/en.json
  src/i18n/source.json
  src/pages/Bill.tsx
  src/pages/Bills.tsx
  src/pages/CreateBill.tsx
  src/pages/Home.tsx
  src/pages/IssueBill.tsx
  src/pages/Login.tsx
  src/pages/MintBill.tsx
  src/pages/Notifications.tsx
  src/pages/PreviewBill.tsx
  src/pages/RecoverWithSeedPhrase.tsx
  src/pages/SellBill.tsx
  src/pages/Unlock.tsx
  src/pages/contacts/Create.tsx
  src/pages/contacts/Overview.tsx
  src/pages/onboarding/Screens.tsx
  src/pages/signup/ConfirmIdentity.tsx
  src/pages/signup/CreateNewIdentity.tsx
  src/pages/signup/EmailVerification.tsx
  src/pages/signup/OptionalInformation.tsx
  src/pages/signup/RequiredInformation.tsx
  src/pages/signup/Success.tsx
Labels: i18n, staff only

#109 New Crowdin Translations
  src/i18n/en-US/translation.json
  src/i18n/es-AR/translation.json
  src/i18n/tr-TR/translation.json
Labels: i18n, automated

#137 New Crowdin Translations
  src/i18n/en-US/translation.json
  src/i18n/es-AR/translation.json
  src/i18n/tr-TR/translation.json
Labels: i18n, automated

#155 dev: include crowdin in-context tool in dev mode
  package.json
  src/context/language/LanguageContext.ts
  src/context/language/LanguageProvider.test.tsx
  src/context/language/LanguageProvider.tsx
  src/i18n/ach-UG/translation.json
  src/i18n/source.json
  vite.config.ts
Labels: i18n

#192 New Crowdin Translations
  src/i18n/ach-UG/translation.json
  src/i18n/en-US/translation.json
  src/i18n/es-AR/translation.json
  src/i18n/tr-TR/translation.json
Labels: i18n, automated

#193 New Crowdin Translations
  src/i18n/ach-UG/translation.json
  src/i18n/en-US/translation.json
  src/i18n/es-AR/translation.json
  src/i18n/tr-TR/translation.json
Labels: i18n, automated

#194 feat: ability to switch locale
  src/components/DiscountForm/DiscountForm.test.tsx
  src/components/ui/select.tsx
  src/context/language/LanguageContext.ts
  src/context/language/LanguageProvider.test.tsx
  src/context/language/LanguageProvider.tsx
  src/i18n/source.json
  src/main.tsx
  src/pages/settings/LocaleDropdown.test.tsx
  src/pages/settings/LocaleDropdown.tsx
  src/pages/settings/Settings.test.tsx
  src/pages/settings/index.tsx
Labels: enhancement

#196 New Crowdin Translations
  src/i18n/ach-UG/translation.json
  src/i18n/en-US/translation.json
  src/i18n/es-AR/translation.json
  src/i18n/tr-TR/translation.json
Labels: i18n, automated

#199 chore(Input): add input storybook
  src/components/ui/input.stories.tsx
Labels: enhancement

#205 New Crowdin Translations
  src/i18n/de-AT/translation.json
  src/i18n/it-IT/translation.json
Labels: i18n, automated

#210 New Crowdin Translations
  src/i18n/ach-UG/translation.json
  src/i18n/de-AT/translation.json
  src/i18n/en-US/translation.json
  src/i18n/es-AR/translation.json
  src/i18n/it-IT/translation.json
  src/i18n/tr-TR/translation.json
Labels: i18n, automated

#215 New Crowdin Translations
  src/i18n/ach-UG/translation.json
  src/i18n/de-AT/translation.json
  src/i18n/en-US/translation.json
  src/i18n/es-AR/translation.json
  src/i18n/it-IT/translation.json
  src/i18n/tr-TR/translation.json
Labels: i18n, automated
