Repository BitcreditProtocol/E-Bill-frontend, pull requests merged in 2025-01, with the labels that each got.

#223 build(deps): update dependencies
  package-lock.json
  package.json
Labels: dependencies

#225 New Crowdin Translations
  src/i18n/ach-UG/translation.json
  src/i18n/de-AT/translation.json
  src/i18n/en-US/translation.json
  src/i18n/es-AR/translation.json
  src/i18n/it-IT/translation.json
  src/i18n/tr-TR/translation.json
Labels: i18n, automated

#226 New Crowdin Translations
  src/i18n/ach-UG/translation.json
  src/i18n/de-AT/translation.json
  src/i18n/en-US/translation.json
  src/i18n/es-AR/translation.json
  src/i18n/it-IT/translation.json
  src/i18n/tr-TR/translation.json
Labels: i18n, automated

#233 Onboarding fixes
  public/mockServiceWorker.js
  src/assets/images/onboarding-logo.svg
  src/i18n/source.json
  src/pages/onboarding/Onboarding.tsx
  src/pages/onboarding/Screens.tsx
Labels: enhancement

#229 New Crowdin Translations
  src/i18n/ach-UG/translation.json
  src/i18n/de-AT/translation.json
  src/i18n/en-US/translation.json
  src/i18n/es-AR/translation.json
  src/i18n/it-IT/translation.json
  src/i18n/tr-TR/translation.json
Labels: i18n, automated

#236 fixes to identity creation flow
  package-lock.json
  package.json
  src/components/CountrySelector.tsx
  src/components/Picture.tsx
  src/components/StepIndicator.tsx
  src/components/Summary.tsx
  src/components/typography/SectionTitle.tsx
  src/components/ui/toast.tsx
  src/constants/endpoints.ts
  src/constants/routes.ts
  src/i18n/source.json
  src/main.tsx
  src/mocks/db.ts
  src/mocks/handlers.ts
  src/mocks/handlers/company.ts
  src/mocks/handlers/contacts_v2.ts
  src/mocks/handlers/indentity_v2.ts
  src/pages/GetStarted.tsx
  src/pages/company/Create.tsx
  src/pages/company/Edit.tsx
  src/pages/company/Signers.tsx
  src/pages/company/View.tsx
  src/pages/company/components/Property.tsx
  src/pages/company/components/Typography.tsx
  src/pages/company/components/messages.ts
  src/pages/contacts/Create.tsx
  src/pages/contacts/Edit.tsx
  src/pages/contacts/List.tsx
  src/pages/contacts/Preview.tsx
  src/pages/contacts/View.tsx
  src/pages/contacts/components/List.tsx
  src/pages/contacts/components/Property.tsx
  src/pages/identity/Create.tsx
  src/pages/identity/Edit.tsx
  src/pages/identity/List.tsx
  src/pages/identity/View.tsx
  src/pages/identity/components/Property.tsx
  src/pages/identity/components/Typography.tsx
  src/pages/identity/components/messages.ts
  src/services/company.ts
  src/services/contact_v2.ts
  src/services/identity_v2.ts
  src/types/company.ts
  src/types/identity.ts
  src/utils/index.ts
  tailwind.config.js
Labels: enhancement
